.footer {
  ;
  &:before {
    content: '';
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 70%);
    display: block;
    width: 100%;
    height: 25rem;
    background: $black2;
  }
}
.footerContent {
  padding-top: 5rem;
  padding-bottom: 12rem;
  color: white;
  background: $black2;
}
.contentWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 125rem;
  margin: auto;
}
.projectBlock {
  max-width: 42rem;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 5rem;
  font-family: Serverless;
  text-decoration: none;
  color: $red;
}
.logoText {
  margin-left: 1rem;
  font-size: 3.5rem;
  letter-spacing: -1px;
  text-transform: lowercase;
  color: white;
}
.projectDescription {
  font-size: 2.1rem;
  line-height: 1.5;
  word-spacing: 2px;
  letter-spacing: 0.75px;
}
.footerLinks {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: $footerHeight;
  max-width: calc(23rem * 3);
  line-height: 2;
  font-size: 1.75rem;
  word-spacing: 2px;
  letter-spacing: 0.75px;
}
.linksBlock {
  width: 100%;
  max-width: 23rem;
  ;
  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  .linkSpecial {
    color: #f15953;
  }
}
.link {
  opacity: 0.4;
  color: inherit;
  text-decoration: none;
}

.reference {
  font-weight: 100;
  color: #fff !important;
  font-size:20px;
}
