.wrapper {
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  justify-content: flex-start;
}
a.yellowLink {
  color: $yellow;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer!important;
  transition: color 0.2s linear;
  &:hover {
    color: #fff;
    background: 0 0;
  }
}
.bg {
  padding-top: 7rem;
  padding-bottom: 12rem;
  background: url('/assets/images/graffiti-white-bottom.png') center bottom/contain,
                    url('/assets/images/hero-background.png') center top/cover;
}
.logoWrapper {
  margin: 5rem auto 4rem;
  text-align: center;
}
.providerLogos {
  margin: auto;
  max-width: 500px;
  filter: contrast(30%) brightness(100%) drop-shadow(0px 0px 0.25px white);
}

.hero {
  display: flex;
  position: inherit;
  max-width: 125rem;
  margin: auto;
  width: 100%;
  padding-top: 5rem;
  flex-flow: row wrap;
  align-self: flex-start;
}
.heroLeft {
  width: 50%;
  align-items: flex-start;
  margin-top: 3rem;
}
.heroRight {
  width: 50%;
  align-items: flex-start;
}
.heroFramework {
  text-transform: lowercase;
  font-family: Serverless-Regular, Gibson, sans-serif;
}
.heroStrip1 {
  transform: rotate(-3deg);
  transform-origin: 0 0;
  background-color: $black2;
  padding: 1.75rem 2rem;
  font-size: 2.4rem;
  color: #fff;
}
.heroStrip2 {
  transform: rotate(2deg);
  transform-origin: 0 0;
  background-color: $black2;
  padding: 1.75rem 2rem;
  font-size: 2rem;
  color: #fff;
}
.cta {
  text-align: center;
  text-transform: lowercase;
  align-items: center;
  font-family: Serverless-Regular, Gibson, monospace;
  font-weight: 600;
  font-size: 2rem;
}
.cta a {
  padding: 2rem 2.5rem;
  background-color: $red;
  border-bottom: 3px solid $red3;
  transition: background-color 300ms ease-in-out, border-bottom-color 150ms ease-in-out;
  ;

  &:hover {
    background-color: $red2;
  }
  &:active {
    border-bottom-color: $red2;
  }
}
.ctaInner {
  display: flex;
  align-items: center;
  justify-content: center;
  :global(.SVGInline) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.ctaText {

}
.cta a svg {
  width: 20px;
  height: 20px;
  fill: #ffd734;
  justify-content: center;
}

.customers {
  max-width: 125rem;
  width: 100%;
  align-self: center;
  margin: 5rem auto 5rem auto;
}
.heading {
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-family: Serverless-Regular, Gibson, monospace;
  text-transform: lowercase;
  font-weight: 300;
  text-align: center;
}
.customerLogos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.customerLogo {
  max-height: 8rem;
  max-width: 24rem;
}

.events {
  width: 100%;
  max-width: 96rem;
  align-self: center;
  margin-bottom: 5rem;
  ;
  &:after {
    content: "";
    display: block;
    width: 70%;
    height: 2px;
    margin: 10rem auto auto;
    background-color: #e8e8e8;
  }
}
.event {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.eventLogo {
  width: 35%;
  text-align: center;
  ;
  & img {
    width: 80%;
  }
}
.eventContent {
  width: 65%;
  text-transform: lowercase;
  border-left: 2px solid #e8e8e8;
  padding-left: 6rem;
  ;

  & .eventAction {
    font-family: Serverless-Regular, Gibson, monospace;
    font-size: 2rem;
    color: $red;
  }
}
.eventName {
  font-size: 3rem;
  font-family: Serverless-Regular, Gibson, monospace;
  font-weight: 400;
}
.eventDescription {
  font-size: 2rem;
  margin-top: 0;
}

.center {
  text-align: center;
}
.newsletter {
  background: $black2;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  composes: avenir from '../../index.css';
  border-top: 1px solid rgba(255,255,255,0.03);
  margin-top:0px;
  padding: 80px 0;
}
.praise {
  ;

  &:before {
    content: "";
    height: 2px;
    width: 50%;
    margin: auto;
    display: block;
    background-color: #e8e8e8;
  }

   .contentWrap {
     margin-top: 10rem;
     margin-bottom: 10rem;
   }
}
.contentWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 125rem;
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 3rem;
  font-weight: 500;
  font-size: 6rem;
  font-family: Serverless-Regular, monospace;
  text-transform: lowercase;
}
.praiseLeft {
  width: 40%;
  text-align: center;
  ;

  img {
    max-width: 23rem;
  }
}
.praiseRight {
  width: 60%;
}
.praiseText {
  max-width: 60rem;
  font-size: 2.2rem;
  line-height: 1.7;
}
.praiseAuthor {
  display: block;
  font-family: Serverless-Regular, monospace;
  margin-top: 3rem;
}

@media (max-width: 1060px) {
  .hero {
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
  }
  .heroLeft .cta {
    text-align: center;
  }
  .heroLeft, .heroRight {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .heroRight {
    padding-top: 15px;
    max-width: 600px;
    margin-bottom: 20px;
  }
  .heroFramework {
    margin: 0 auto;
    height: 100px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .testimonials .customer {
    flex-direction: column;
    font-size: 16px;
    img {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .providerLogos {
    max-width: 100%;
  }
  .heroFramework {
    margin: 25px auto;
    height: 80px;
    width: 100%;
  }
  .testimonials .testimonial {
    font-size: 20px;
  }
  .row {
    flex-direction: column;
  }
  .emailContainerInner {
    max-width: 100%;
  }
  .heading {
    font-size: 19px;
  }
  .hero {
    padding-top: 0;
  }
  .heroRight {
    min-height: 277px;
    padding-bottom: 13px;
  }
  .cta {
    margin: 0;
  }
  .cta a {
    margin: 0 auto;
    text-align: center;
  }
  .yellowLink {
    font-size: 18px;
  }
  .hero {
    margin-bottom: 0;
  }
  .providers {
    display: none;
  }
  .subHeading {
    font-size: 27px;
    margin-top: 10px;
  }
  .email-ask {
    text-align: center;
  }
  .bg:before {
    width: 140vw;
    max-height: 600px;
    transform: rotate(0deg);
    top: 0;
  }
}
.colored {
  color: $red;
}
