html {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  -webkit-font-smoothing: antialiased;
}
.base {
  min-height: calc(100vh - $navHeight);
}
.page {
  max-width: 96rem;
  margin: 20px auto 0 auto;
  img {
    max-width: 100%;
  }
  a {
    color: $black2;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: 400;
  }
}
.fullWidth {
  width: 100%;
  a {
    color: $black2;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: 400;
  }
  strong a {
    font-weight: bold;
  }
}

@media (max-width: 960px) {
  .page {
    padding: 0 10px;
  }
  .fullWidth {
    padding: 0px;
  }
}

@media (max-width: 768px) {

}

@font-face {
  font-family: "Serverless-Regular";
  font-weight: normal;
  font-style: normal;
  src: local("Serverless-Regular"), local("serverless-regular-v3"), url("/assets/fonts/serverless-regular-v3.otf") format('opentype');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 300;
  font-style: italic;
  src: url('/assets/fonts/33E349_0_0.eot');
  src: local('Gibson-LightIt'), url('/assets/fonts/33E349_0_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/33E349_0_0.woff2') format('woff2'),
  url('/assets/fonts/33E349_0_0.woff') format('woff'), url('/assets/fonts/33E349_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/fonts/33E349_1_0.eot');
  src: local('Gibson-BoldItalic'), url('/assets/fonts/33E349_1_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/33E349_1_0.woff2') format('woff2'),
  url('/assets/fonts/33E349_1_0.woff') format('woff'), url('/assets/fonts/33E349_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 600;
  font-style: italic;
  src: url('/assets/fonts/33E349_2_0.eot');
  src: local('Gibson-SemiboldIt'), url('/assets/fonts/33E349_2_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/33E349_2_0.woff2') format('woff2'),
  url('/assets/fonts/33E349_2_0.woff') format('woff'), url('/assets/fonts/33E349_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/33E349_3_0.eot');
  src: local('Gibson-Bold'), url('/assets/fonts/33E349_3_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/33E349_3_0.woff2') format('woff2'),
  url('/assets/fonts/33E349_3_0.woff') format('woff'), url('/assets/fonts/33E349_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/33E349_4_0.eot');
  src: local('Gibson-Regular'), url('/assets/fonts/33E349_4_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/33E349_4_0.woff2') format('woff2'),
  url('/assets/fonts/33E349_4_0.woff') format('woff'), url('/assets/fonts/33E349_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 600;
  font-style: normal;
  src: url('/assets/fonts/33E349_5_0.eot');
  src: local('Gibson-Semibold'), url('/assets/fonts/33E349_5_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/33E349_5_0.woff2') format('woff2'),
  url('/assets/fonts/33E349_5_0.woff') format('woff'), url('/assets/fonts/33E349_5_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/fonts/33E349_6_0.eot');
  src: local('Gibson-Italic'), url('/assets/fonts/33E349_6_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/33E349_6_0.woff2') format('woff2'),
  url('/assets/fonts/33E349_6_0.woff') format('woff'), url('/assets/fonts/33E349_6_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gibson';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/33E349_7_0.eot');
  src: local('Gibson-Light'), url('/assets/fonts/33E349_7_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/33E349_7_0.woff2') format('woff2'),
  url('/assets/fonts/33E349_7_0.woff') format('woff'), url('/assets/fonts/33E349_7_0.ttf') format('truetype');
}
