.base {
  min-height: calc(100vh - $navHeight);
}
.page {
  max-width: 96rem;
  margin: 20px auto 0 auto;
  img {
    max-width: 100%;
  }
  a {
    color: $black2;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: 400;
  }
}
.fullWidth {
  width: 100%;
  a {
    color: $black2;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: 400;
  }
  strong a {
    font-weight: bold;
  }
}

@media (max-width: 960px) {
  .page {
    padding: 0 10px;
  }
  .fullWidth {
    padding: 0px;
  }
}

@media (max-width: 768px) {

}

@font-face {
  font-family: "Serverless-Regular";
  font-weight: normal;
  font-style: normal;
  src: local("Serverless-Regular"), local("serverless-regular-v3"), url("/assets/fonts/serverless-regular-v3.otf") format('opentype');
}
